/*
 *  MASONRY COMPONENT STYLES
 */
.masonry {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 24px;
    transition: height 0.5s ease-out;
}

.masonry:after {
    content: '';
    display: block;
    clear: both;
}

.gridcol {
    padding: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.grid-brick {
    padding: none;
    width: 100%;
    display: inline-block;
    padding: none;

    background: rgba(0,0,0,0.05);

    min-height: 175px;

}

.grid-sizer {
    padding: 0 4px 8px 4px;
    width: 100%;
    display: inline-block;
}

.grid-brick img {
    width: 100%;
    padding: none;
    display: inline-block;
    transition: all 2s ease-out;
}


/*
 *  STANDARDIZED LIGHTBOX STYLES
 *  See documentation at: https://simplelightbox.com
 */
    .sl-overlay {
    background: #000;
    opacity: 0.8;
}

.sl-wrapper .sl-close,
.sl-wrapper .sl-navigation button.sl-prev,
.sl-wrapper .sl-navigation button.sl-next {
    color: #fff;
}

.sl-wrapper .sl-navigation button.sl-prev,
.sl-wrapper .sl-navigation button.sl-next {
    color: rgba(0,0,0,0);
    width: 18px;
    height: 18px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(-45deg)
}

.sl-wrapper .sl-close {
    font-size: 32px;
}

.sl-wrapper .sl-navigation button.sl-prev {
    transform: rotate(135deg)
}

.sl-wrapper .sl-navigation button.sl-next {
    transform: rotate(-45deg)
}

.sl-wrapper .sl-spinner {
    border-color: rgba(225,225,225,1);
}